// FOOTER::START
footer.footer
  .footer__wrapper
    .footer__copy
      img(src='images/logo-footer.png' srcset='images/logo-footer@2x.png 2x')
      span LasoHealth Inc. <br> © 2017 All rights reserved
    .footer__contact
      span 77 Main Street, City road, NY
      span Main Line : 2105555555
      span 
        a(href='#') licensing@lasohealthusa.com
    .footer__menu
      a(href='#') How to Book
      a(href='#') Contact us
      a(href='#') Privacy policy
      a(href='#') Terms & conditions
    .footer__socials
      .footer__socials__head Stay in touch
      .footer__socials__icons
        a(href='#')
          i.icon.icon-social-tw
        a(href='#')
          i.icon.icon-social-linkedin
        a(href='#')
          i.icon.icon-social-facebook

// SCRIPTS
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBh760T5WeW3SXJxUuIwZPYjcpyZL7nwfU&callback=initMap', async='', defer='')

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/slick-carousel/slick/slick.min.js")
script(src="components/air-datepicker/dist/js/datepicker.min.js")
script(src="components/air-datepicker/dist/js/i18n/datepicker.en.js")
script(src="components/rangeslider.js/dist/rangeslider.min.js")
script(src="js/utilities.js")
script(src="js/classie.js")
script(src="js/main.js")
script(src="js/map.js")
//endbuild
