// HEADER::START
header.header
  .header__wrapper
    .header__logo
      img(src='images/logo.png' srcset='images/logo@2x.png 2x')
    .header__user
      a(href='#') Log in
      a(href='#') Sign up
