// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Sans+Pro:400,600')

@font-face
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?ezbnvu')
  src:  url('../fonts/icomoon.eot?ezbnvu#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?ezbnvu') format('truetype'), url('../fonts/icomoon.woff?ezbnvu') format('woff'), url('../fonts/icomoon.svg?ezbnvu#icomoon') format('svg')
  font-weight: normal
  font-style: normal
