doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug

    // HERO :: START
    .hero
      // also for js animation
      .hero-bg
      .hero__wrapper
        .hero__title Medical Appointments Done Right!
        form(action='results.html').hero__searchbar
          .hero__searchbar__group
            .hero__searchbar__input.hero__searchbar__input--issue
              input(type='text' placeholder='Symptom')
              i.icon.icon-tool
            .hero__searchbar__input.hero__searchbar__input--location
              input(type='text' placeholder='Location')
              i.icon.icon-location
            button(type='submit')
              span Find Appointment
              i.icon.icon-search-big
        
        .hero__secondary
          .hero__secondary__title Already have an acocunt?
          a(href='#' data-modal='modalLogin').btn.btn--secondary Sign Up
        
    
    // TRENDING :: START
    .trending
      .container.text-center
        .heading Trending Appointments
        .subheading Find thousands of medical appointments to book right now!
      
      .trending__wrapper
        // card
        a(href='#').trending__card
          .trending__card__image
            img(src='images/trending-picture-1.png' srcset='images/trending-picture-1@2x.png 2x')
          .trending__card__content
            .trending__card__name Dental care
            .trending__card__action Discover apointments now
        // card
        a(href='#').trending__card
          .trending__card__image
            img(src='images/trending-picture-2.png' srcset='images/trending-picture-1@2x.png 2x')
          .trending__card__content
            .trending__card__name Blood presure
            .trending__card__action Discover apointments now
        // card
        a(href='#').trending__card
          .trending__card__image
            img(src='images/trending-picture-1.png' srcset='images/trending-picture-1@2x.png 2x')
          .trending__card__content
            .trending__card__name Cardiology
            .trending__card__action Discover apointments now              
        // card
        a(href='#').trending__card
          .trending__card__image
            img(src='images/trending-picture-1.png' srcset='images/trending-picture-1@2x.png 2x')
          .trending__card__content
            .trending__card__name Dental care
            .trending__card__action Discover apointments now
        // card
        a(href='#').trending__card
          .trending__card__image
            img(src='images/trending-picture-2.png' srcset='images/trending-picture-1@2x.png 2x')
          .trending__card__content
            .trending__card__name Blood presure
            .trending__card__action Discover apointments now
        // card
        a(href='#').trending__card
          .trending__card__image
            img(src='images/trending-picture-1.png' srcset='images/trending-picture-1@2x.png 2x')
          .trending__card__content
            .trending__card__name Cardiology
            .trending__card__action Discover apointments now              
    
    
    // METRICS :: START
    .metrics
      .metrics__wrapper
        .metrics__card
          .metrics__card__number 174
          .metrics__card__text Appointments Last Month
        .metrics__card
          .metrics__card__number 52
          .metrics__card__text Medical facilities involved
        .metrics__card
          .metrics__card__number 400+
          .metrics__card__text Monthly Users
        .metrics__card
          .metrics__card__number 3
          .metrics__card__text Months since start
          
    // ABOUT :: START
    .about
      .text-center
        .heading About LasoHealth
        .about__wrapper
          p LasoHealth is a transparent appointment booking platiform that automates all booking from submitting your personal information, credit reports and offers with online payments. 
          p It now has a staff complement of 35 occupying modern offices, within Albion House, in the centre of the City of Chester and also at Nantwich Court, Hospital Street, Nantwich. Since its inception, the company has strategically expanded so that it now provides the same respected level of advice across the whole spectrum of commercial property, including industrial, offices, in and out of town retail, leisure and land.
    
    // VIDEO
    .video
      .video__iframe
        iframe(src='https://www.youtube.com/embed/KDFECSgvwqs', frameborder='0', allowfullscreen='1' autoplay='0')
      .video__image
        img(src='images/booking-video.png' srcset='images/booking-video@2x.png 2x')
      .video__content
        .heading BOOKING & SCHEDULING VIDEO
        i.icon.icon-video-play
    
    // TESTIMONIALS :: START
    .testimonials
      .text-center
        i.icon.icon-quote
      .testimonials__slider
        // slide
        .testimonials__slide
          .testimonials__content "Thank you for making it painless, pleasant and most of all hassle free! Your company is truly upstanding and is behind its product 100%. No matter where you go, LasoHealth is the coolest, most happening thing around! You won't regret it."
          .testimonials__author - Julina S, LasoHealth user
        // slide
        .testimonials__slide
          .testimonials__content "Thank you for making it painless, pleasant and most of all hassle free! Your company is truly upstanding and is behind its product 100%. No matter where you go, LasoHealth is the coolest, most happening thing around! You won't regret it."
          .testimonials__author - Julina S, LasoHealth user
        // slide
        .testimonials__slide
          .testimonials__content "Thank you for making it painless, pleasant and most of all hassle free! Your company is truly upstanding and is behind its product 100%. No matter where you go, LasoHealth is the coolest, most happening thing around! You won't regret it."
          .testimonials__author - Julina S, LasoHealth user
        // slide
        .testimonials__slide
          .testimonials__content "Thank you for making it painless, pleasant and most of all hassle free! Your company is truly upstanding and is behind its product 100%. No matter where you go, LasoHealth is the coolest, most happening thing around! You won't regret it."
          .testimonials__author - Julina S, LasoHealth user
      .testimonials__nav
        a(href='#' data-slide='0').active
          img(src='images/testimonials_user_1.png' srcset='images/testimonials_user_1@2x.png 2x')
        a(href='#' data-slide='1')
          img(src='images/testimonials_user_2.png' srcset='images/testimonials_user_2@2x.png 2x')
        a(href='#' data-slide='2')
          img(src='images/testimonials_user_3.png' srcset='images/testimonials_user_3@2x.png 2x')          
        a(href='#' data-slide='3')
          img(src='images/testimonials_user_4.png' srcset='images/testimonials_user_4@2x.png 2x')
                    
    
    // CTA :: START
    .cta
      .text-center
        p Now it’s time to get the best local appointment deals. <br> Join LasoHealth for free!
        a(href='#' data-modal='modalSignup').btn.btn--primary.btn--huge Sign Up
        
      
    
                
        
        
    include shared/modal.pug
    include shared/footer.pug
